h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }

  #mapid {
    width: 60%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
