<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a
        class="navbar-brand"
        href="#"
      >
        Menu
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span
          class="navbar-toggler-icon"
        />
      </button>
      <div
        id="navbarNav"
        class="collapse navbar-collapse"
      >
        <ul
          class="navbar-nav"
        >
          <li
            :class="isLive ? 'nav-item active' : 'nav-item'"
          >
            <a
              class="nav-link"
              href="#"
              @click="setViewToLive"
            >
              Live
              <span
                class="sr-only"
              >
                (current)
              </span>
            </a>
          </li>
          <li
            :class="isLive ? 'nav-item' : 'nav-item active'"
          >
            <a
              class="nav-link"
              href="#"
              @click="setViewToArchive"
            >
              Archive
              <span
                class="sr-only"
              >
                (current)
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <l-map
      ref="map"
      :zoom="zoom"
      :center="center"
      :options="mapOptions"
      style="height: 300px; margin-bottom : 10px"
      @update:center="centerUpdate"
      @update:zoom="zoomUpdate"
    >
      <l-tile-layer
        :url="url"
        :attribution="attribution"
      />
      <l-marker
        v-for="marker in markers"
        :key="marker.id"
        :visible="marker.visible"
        :draggable="marker.draggable"
        :lat-lng="marker.position"
      >
       <l-popup>
          <div @click="innerClick">
           {{ "station "+ marker.id }}
          </div>
        </l-popup>
      </l-marker>
    </l-map>
    <div
      v-if="isLive"
    >
      <Live
        msg="Welcome to Your Vue.js App"
        @coord="setMarker($event)"
        @reset="removeMarkers()"
      />
    </div>
    <div
      v-else
    >
      <Archive
        msg="Welcome to Your Vue.js App"
        @coord="setMarker($event)"
        @reset="removeMarkers()"
      />
    </div>
  </div>
</template>

<script>
import Live from "./components/live.vue";
import Archive from "./components/archive.vue";
import { latLng } from "leaflet";
import { LMap, LTileLayer, LMarker, LPopup/*, LTooltip*/ } from "vue2-leaflet";



export default {
  name: "app",
  components: {
    Live,
    Archive,
    LMap,
    LTileLayer,
    LMarker,
    LPopup/*,
    LTooltip*/
  },
  data() {
    return {
      isLive :true,
      zoom: 13,
      center: latLng(47.41322, -1.219482),
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      withPopup: latLng(47.41322, -1.219482),
      withTooltip: latLng(47.41422, -1.250482),
      currentZoom: 11.5,
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5
      },
      markers: [],
      currentCenter: 0
    }
  },
  /*mounted () {
      this.$nextTick(() => {
        this.$refs.myMap.mapObject.zoomUpdate();
      })
  },*/
  /*computed:{
    currentCenter(){
      return this.center;
    }
  }
  ,*/
  methods: {
    setViewToLive () {
        this.isLive  = true;
    },
    setViewToArchive () {
        this.isLive  = false;
    },
    transmitCoord($event){
      this.$emit("coord2",$event);
    },
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate(center) {
      this.currentCenter = center;
    },
    addMarker(name,coord) {
      const newMarker = {
        id:name,
        position: { lat: coord[0], lng: coord[1] },
        draggable: false,
        visible: true,
      };
      this.markers.push(newMarker);
    },
    removeMarkers() {
      this.markers=[];
    },
    setMarker ($event) {
      let name = $event[0];
      let coord = $event[1];
      this.addMarker(name,coord);
      this.center = coord;
    },
    innerClick() {
      alert("Click!");
    }

  }
};



</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

</style>
