<template>
  <div>
    <table class="centered">
      <tr>
        <td>
          <datetime
            width="300px"
            @settingDate="setStartDate($event)"
          />
        </td>
        <td>
          <datetime
            width="300px"
            @settingDate="setEndDate($event)"
          />
        </td>
      </tr>
    </table>
    <div class="data">    
      <p class="form">
        Choix des capteurs :
        <span>
          <input
            id="temp"
            v-model="isTemp"
            type="checkbox"
          ><label> Température</label>
          <input
            id="hum"
            v-model="isHum"
            type="checkbox"
          ><label> Humidité</label>
          <input
            id="pres"
            v-model="isPres"
            type="checkbox"
          ><label> Pression</label>
          <input
            id="wind"
            v-model="isWind"
            type="checkbox"
          ><label> Vent</label>
          <input
            id="lum"
            v-model="isLum"
            type="checkbox"
          ><label> Luminosity</label>
          <input
            id="rain"
            v-model="isRain"
            type="checkbox"
          ><label> Pluie</label>
        </span>
      </p>
      <p class="form">
        Choix des stations :
        <input
          v-model="stations"
          type="checkbox"
          value="07"
        ><label> Station 07</label>
        <input
          v-model="stations"
          type="checkbox"
          value="10"
        ><label> Station 10</label>
        <input
          v-model="stations"
          type="checkbox"
          value="11"
        ><label> Station 11</label>
        <input
          v-model="stations"
          type="checkbox"
          value="24"
        ><label> Station 24</label>
      </p>
    </div>
    <button @click="requestLive()">
      Résultat
    </button>
    <p class="error_text">
      {{ error }}
    </p>

    <div class="row">
      <table
        v-if="success[0]"
        class="centered chartArray"
      >
        <tr
          class="chartLine"
          v-for="line in arrayIndexes"
          :key="line"
        >
          <td
            v-for="i in line"
            :key="i"
            class="cell"
          >
            <h1>
              {{ listeTitreDiv[capteurs[i]] }}
            </h1>
            <table class="valueArray">
              <tr>
                <div class="dataHeader">{{ listeTitreDiv[capteurs[i]] }} maximale</div>
                <li
                  v-for="(dat,j) in data"
                  :key="dat"
                >
                  {{ dat.result.metadata.nom }} : {{ extremums[capteurs[i]][2*j+1] +" "+unit(capteurs[i],dat.result.measurements[rawIndex[capteurs[i]]].units[1]) }}
                </li>
              </tr>
              <tr>
                <div class="dataHeader">{{ listeTitreDiv[capteurs[i]] }} minimale</div>
                <li
                  v-for="(dat,j) in data"
                  :key="dat"
                >
                  {{ dat.result.metadata.nom }} : {{ extremums[capteurs[i]][2*j] +" "+unit(capteurs[i],dat.result.measurements[rawIndex[capteurs[i]]].units[1]) }}
                </li>
              </tr>
            </table>
            <div class="chart">
              <line-chart
                :chart-data="datacollection[capteurs[i]]"
                :options="option"
              />
            </div>
          </td>
        </tr>
        <tr class="chartLine">
          <td
            v-for="i in lastLine"
            :key="i"
            class="cell"
          >
            <h1>
              {{ listeTitreDiv[capteurs[i]] }}
            </h1>
            <table class="valueArray">
              <tr>
                <div class="dataHeader">{{ listeTitreDiv[capteurs[i]] }} maximale</div>
                <li
                  v-for="(dat,j) in data"
                  :key="dat"
                >
                  {{ dat.result.metadata.nom }} : {{ extremums[capteurs[i]][2*j+1] +" "+ unit(capteurs[i],dat.result.measurements[rawIndex[capteurs[i]]].units[1]) }}
                </li>
              </tr>
              <tr>
                <div class="dataHeader">{{ listeTitreDiv[capteurs[i]] }} minimale</div>
                <li
                  v-for="(dat,j) in data"
                  :key="dat"
                >
                  {{ dat.result.metadata.nom }} : {{ extremums[capteurs[i]][2*j] +" "+unit(capteurs[i],dat.result.measurements[rawIndex[capteurs[i]]].units[1]) }}
                </li>
              </tr>
            </table>
            <div class="chart">
              <line-chart
                :chart-data="datacollection[capteurs[i]]"
                :options="option"
              />
            </div>
          </td>
        </tr>
      </table>
      <div
        v-else
        class="test_success"
      >
        <div id="errorDisplay">
          {{ data.error }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import datetime from 'vuejs-datetimepicker';
import LineChart from "./LineChart.js";
import dataManager from './dataManager.vue';

 export default {
   extends: dataManager,
   
  name: "archive",
  components: {
    LineChart,
    datetime,
    
  },
  data() {
    return {
      // did the query return a value ?
      success: [false],
      // begining of the interval
      start_date: null,
      // end of the interval
      end_date:null,
      // measurement extremums
      extremums : {"tem":[],"hum":[],"pre":[],"win":[],"lum":[],"ran":[]},
      cellWidth: 400,

    }
  },
  mounted: function () {
    window.addEventListener('resize', this.handleResize)
  },
  beforeDestroy: function () {
    window.removeEventListener('resize', this.handleResize)
  },
  computed:{
    arrayIndexes:function(){
      let n = Math.floor(this.windowWidth/this.cellWidth);
      let m = Math.floor(this.capteurs.length/n);
      let res=[];
      for (let j=0;j<m;j++){
        let res_aux=[];
        for (let i=0;i<n;i++){
          res_aux.push(j*n+i);
        }
        res.push(res_aux);
      }
      return res;
    },
    lastLine:function(){
      let n = Math.floor(this.windowWidth/this.cellWidth);
      let nc = Math.floor(this.capteurs.length/n);
      let res = [];
      for (let i=n*nc;i<this.capteurs.length;i++){
        res.push(i);
      }
      return res;
    }
  },
  
  
  methods:{
    /**
     * Returns unit of a specific measurement
     */
    unit(capt,sign){
      if(capt=="ran"){
        return "ml/min";
      }
      return sign;
    },
    
    /**
     * Updates startDate param
     */
    setStartDate(e) {
      this.start_date = e;
    },
    /**
     * Update endDate param
     */
    setEndDate(e) {
      this.end_date = e;
    },
    /**
     * Queries the API
     */
    requestLive(){
      this.$emit("reset");
      this.updateCapteur();
      let endDate = new Date(this.end_date).getTime();
      let startDate = new Date(this.start_date).getTime();

      let promises = [];
      
      if (this.capteurs.length==0){
        this.error = "Veuillez selectionner un capteur";
      }else {
      if (this.end_date==null || this.start_date==null ){
        this.error = "Veuillez choisir deux dates"
      }
      else {
        if(endDate < startDate){
          this.error = "La date de debut doit être avant la date de fin"

        }
        else{
          if (this.stations.length==0){
            this.error = "Veuillez selectionner une station";
          }
          else{
            this.data = [];
            this.success = [];
            let endDateIso = this.end_date.split(" ")[0]+"T"+this.end_date.split(" ")[1];
            let startDateIso = this.start_date.split(" ")[0]+"T"+this.start_date.split(" ")[1];
            this.error="";
            let capteursStr = "";
            this.capteurs.forEach(function(capt){
              capteursStr = capteursStr + capt + ",";
            });
            capteursStr = capteursStr.substring(0, capteursStr.length - 1);

            for (let i = 0;i<this.stations.length;i++){

            let API = "http://piensg0"+this.stations[i]+".ensg.eu/archive?start="+startDateIso
              +"&stop="+endDateIso+"&capteurs="+capteursStr;
              promises.push(
                fetch(API,{credentials: 'omit'})
                .then(resp => resp.json())
                .then(
                  function(data){
                    return data;
                  }.bind(this))
              )

            }
            let i=0;
            Promise.all(promises)
            .then(
              promises => {
                promises.forEach(data => {
                  this.data.push(data);
                  console.log(data);
                  this.success.push(Object.keys(data).includes("result")); 
                  
                  this.fillData(); 
                  if(Object.keys(data).includes("result")){
                    this.$emit("coord",[data.result.metadata.nom,[data.result.coordinate.latitude,data.result.coordinate.longitude]]);
                  }
                  i+=1;
                })
              }
            )
          }
      
        }
      }
    }},
    /**
     * Returns the minimum between two values
     */
    getmin(a,b){
      if (a>b){ return b;}
      else {return a;}
    },
    /**
     * Returns the maximum between two values
     */
    getmax(a,b){
      if (a>b){return a;}
      else {return b;}
    }
    ,
    /**
     * Fill data collection with a specific type of measuremnt
     * @param {String} type the type of the measurement (wind,temperature,humidity,pressure or luminosity)
     */  
    createDataObj(type){
      let fullname = this.rawIndex[type];
      this.datacollection[type] = {
        type: 'line',
        datasets: [],
      };
      var set = [];
      var set0 = [];
      this.extremums[type] = [];
      
      for (var j =0 ; j< this.data.length; j++){
        
        let color = 'rgba('+255*Math.sin(j)+','+255*Math.cos(j)+','+255*(1-Math.sin(j))+',1)';
        set0 = [];
        if (this.data[j].result.measurements[fullname].data.length == 0){
          this.extremums[type].push("Pas de données");this.extremums[type].push("Pas de données");
        }
        for (let compt=0; compt<this.data[j].result.measurements[fullname].data.length ;compt++){
          let value = this.data[j].result.measurements[fullname].data[compt][1];
          if (compt==0){
            this.extremums[type].push(value);
            this.extremums[type].push(value);
          }
          else {
            let length_temp = this.extremums[type].length;
            this.extremums[type][length_temp-2] = this.getmin(this.extremums[type][length_temp-2],value);
            this.extremums[type][length_temp-1] = this.getmax(this.extremums[type][length_temp-1],value);
          }
          
          set0.push({x: new Date(this.data[j].result.measurements[fullname].data[compt][0]), 
                     y: value}); 
          
        }
        set.push({label: this.data[j].result.metadata.nom,
		            	data:set0,
			            borderColor:color,
			            backgroundColor:"transparent",});
      } 
      this.datacollection[type].datasets = set;

    },
    /**
     * Fill the datacollection with rain data
     */
    createDataObjRain(){
      this.datacollection["ran"] = {
        type: 'line',
        datasets: [],
      };
      var set = [];
      var set0 = [];
      this.datacollection["ran"] = [];
      this.extremums["ran"] = [];

      for (var j =0 ; j< this.data.length; j++){
        if (this.data[j].result.measurements.rain.data.length == 0){
          this.datacollection["ran"].push("Pas de données");this.datacollection["ran"].push("Pas de données");
        }
        let color = 'rgba('+255*Math.sin(j)+','+255*Math.cos(j)+','+255*(1-Math.sin(j))+',1)';
        set0 = [];
        let mem = Date.parse(this.data[j].result.measurements.rain.data[0]);

        for (let compt=1; compt<this.data[j].result.measurements.rain.data.length ;compt++){
          let date = Date.parse(this.data[j].result.measurements.rain.data[compt]);
          let value = 2.571*60000/(date-mem);
          if (compt==1){
            this.extremums["ran"].push(value);
            this.extremums["ran"].push(value);
          }
          else {
            let len = this.extremums["ran"].length;
            this.extremums["ran"][len-2] = this.getmin(this.extremums["ran"][len-2],value);
            this.extremums["ran"][len-1] = this.getmax(this.extremums["ran"][len-1],value);
          }
          set0.push({x: new Date (this.data[j].result.measurements.rain.data[compt]), 
                     y: value});
          mem = date;
        }
        set.push({label: this.data[j].result.metadata.nom,
		            	data:set0,
			            borderColor:color,
			            backgroundColor:"transparent",});
      }
      this.datacollection["ran"].datasets = set;

    },
    
  }};

</script>

<style>

.valueArray{
  text-align: left;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:30%;
  border-width:5px; 
  border-style:ridge; 
  border-color:rgb(0,170,0);
  border-radius:5%;
  background-color:rgb(235,255,235);
}

.chartArray{
  width:90%;
  border-width:5px; 
  border-style:solid; 
  border-color:black;
  border-radius:20%;
}

.chartLine{
  margin-left: auto;
  margin-right: auto;
  width:100%;
  border-width:5px; 
  border-style:solid; 
  border-color:black;
  border-radius:20%;
}

.cell{
  font-size:medium;
  max-width: 400px;
  min-width: 300px;
  max-height : 500px;
  min-height : 300px;
  border-width:5px; 
  border-style:solid; 
  border-color:black;
  background-color : rgb(220, 220, 220);
}

.error_text{
  font-size:medium;
  color: red;
  
}

.form{
  font-size:medium;
}

.small {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

.chart {
  margin-left: auto;
  margin-right: auto;
  height : 60%;
  border-width:5px; 
  border-style:groove; 
  border-color:rgb(170,0,0);
  border-radius: 10%;
  background-color : white;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
</style>
