<template>
  <div>
    <div class="hello">
      <p
        class="form"
      >
        Choix des capteurs :
        <span>
          <input
            id="temp"
            v-model="isTemp"
            type="checkbox"
            @change="reInit"
          >
          <label>
            Température
          </label>
          <input
            id="hum"
            v-model="isHum"
            type="checkbox"
            @change="reInit"
          >
          <label>
            Humidité
          </label>
          <input
            id="pres"
            v-model="isPres"
            type="checkbox"
            @change="reInit"
          >
          <label>
            Pression
          </label>
          <input
            id="wind"
            v-model="isWind"
            type="checkbox"
            @change="reInit"
          >
          <label>
            Vent
          </label>
          <input
            id="lum"
            v-model="isLum"
            type="checkbox"
            @change="reInit"
          >
          <label>
            Luminosity
          </label>
          <input
            id="rain"
            v-model="isRain"
            type="checkbox"
            @change="reInit"
          >
          <label>
            Pluie
          </label>
        </span>
      </p>
      <p class="form">
        Choix des stations :
        <input
          v-model="stations"
          type="checkbox"
          value="7"
          @change="reInit"
        >
        <label>
          Station 07
        </label>
        <input
          v-model="stations"
          type="checkbox"
          value="10"
          @change="reInit"
        >
        <label>
          Station 10
        </label>
        <input
          v-model="stations"
          type="checkbox"
          value="11"
          @change="reInit"
        >
        <label>
          Station 11
        </label>
        <input
          v-model="stations"
          type="checkbox"
          value="24"
          @change="reInit"
        >
        <label>
          Station 24
        </label>
      </p>
      <input
      class="updateButton"
      type="submit"
      name="start_stop"
      :value="started ? 'stop' : 'start'"
      @click="start_stop()"
    >
  </div>


      <table
        class="centered liveArray"
      >
        <tr
          v-for="line in arrayIndexes"
          :key="line"
          class="liveLine"
        >
          <td
            v-for="i in line"
            :key="i"
            class="liveCell"
          >
            <div
              v-if="success[i]"
              class="centered liveCell"
            >
              <h1>{{ data[i].result.metadata.nom }}</h1>
              <div
                v-for="capt in capteurs"
                :key="capt"
                class="capteurCell"
              >
                <h3>{{ listeTitreDiv[capt] }}</h3>
                <table
                  class="liveValueArray"
                >
                  <tr>
                    <div
                      class="dataHeader"
                    >
                      Date
                    </div>
                    <li>{{ formatageDate(data[i].result.measurements[rawIndex[capt]].data[data[i].result.measurements[rawIndex[capt]].data.length - 1][0]) }}</li>
                  </tr>
                  <tr>
                    <div
                      class="dataHeader"
                    >
                      Mesure
                    </div>
                    <li>{{ (capt="ran"? lastValueRain[stations[i]] : data[i].result.measurements[rawIndex[capt]].data[data[i].result.measurements[rawIndex[capt]].data.length - 1][1])+" "+unit(capt,data[i].result.measurements[rawIndex[capt]].units[1]) }}</li>
                  </tr>
                  <div class="liveChartContainer">
                    <line-chart
                      class = "liveChart"
                      :chart-data=" {type: 'line',datasets : datacollection[capt].datasets.filter(function(value, index, arr){ return value.label == data[i].result.metadata.nom;})}"
                      :options="option"
                    />
                  </div>
                </table>
              </div>
            </div>
            <div
              v-else
              class="test_success"
            >
              <div id="errorDisplay">
                {{ data.error }}
              </div>
            </div>
          </td>
        </tr>
        <tr class="chartLine">
          <td
            v-for="i in lastLine"
            :key="i"
            class="liveCell"
          >
            <div
              v-if="true"
              class="centered liveCell"
            >
              <h1>{{ data[i].result.metadata.nom }}</h1>
              <div
                v-for="capt in capteurs"
                :key="capt"
                class="capteurCell"
              >
                <h3>{{ listeTitreDiv[capt] }}</h3>
                <div
                  class="liveValueArray"
                >
                  <div>
                    <div
                      class="dataHeader"
                    >
                      Date
                    </div>
                    <li>{{ formatageDate(data[i].result.measurements[rawIndex[capt]].data[data[i].result.measurements[rawIndex[capt]].data.length - 1][0]) }}</li>
                  </div>
                  <div>
                    <div
                      class="dataHeader"
                    >
                      Mesure
                    </div>
                    <li>{{ (capt == "ran"? lastValueRain[stations[i]] : data[i].result.measurements[rawIndex[capt]].data[data[i].result.measurements[rawIndex[capt]].data.length - 1][1])+" "+unit(capt,data[i].result.measurements[rawIndex[capt]].units[1]) }}</li>
                  </div>
                  <div class="liveChartContainer">
  
                    <line-chart
                      class = "liveChart"
                      :chart-data=" {type: 'line',datasets : datacollection[capt].datasets.filter(function(value, index, arr){ return value.label == data[i].result.metadata.nom;})}"
                      :options="option"
                    />
                  </div>
                  
                </div>
                
              </div>
            </div>
            <div
              v-else
              class="test_success"
            >
              <div id="errorDisplay">
                {{ data.error }}
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    
</template>

<script>
import LineChart from "./LineChart.js";
import dataManager from './dataManager.vue';
 export default {
  extends: dataManager,
  name: "live",
  components: {
    LineChart,
    
  },
  data() {
    return {
      // did the query return a value ?
      success :[],
      // is a specific station initialized ?
      isinit: {"10" : false, "07" : false, "11" : false, "24" : false},   
      // size of a table cell 
      cellWidth: 200,
      interval: null,
      valTest : 0,
      // coordinates of the station
      coord: null,
      started : false,
      lastDateRain : {"10" : "", "07" : "", "11" : "", "24" : ""},
      lastValueRain : {"10" : -1, "07" : -1, "11" : -1, "24" : -1}
    }
  },
  mounted(){
    this.requestLive();
    window.addEventListener('resize', this.handleResize);
  },
  beforeDestroy: function () {
    window.removeEventListener('resize', this.handleResize)
    if(this.started){
      clearInterval(this.interval);
    }
  },
  computed:{
    arrayIndexes:function(){
      let n = Math.floor(this.windowWidth/this.cellWidth);
      let m = Math.floor(this.data.length/n);
      let res=[];
      for (let j=0;j<m;j++){
        let res_aux=[];
        for (let i=0;i<n;i++){
          res_aux.push(j*n+i);
        }
        res.push(res_aux);
      }
      return res;
    },
    lastLine:function(){
      let n = Math.floor(this.windowWidth/this.cellWidth);
      let nc = Math.floor(this.data.length/n);
      let res = [];
      for (let i=n*nc;i<this.data.length;i++){
        res.push(i);
      }
      return res;
    }
  },
  methods:{
    unit(capt,sign){
      if(capt=="ran"){
        return "ml/min";
      }
      return sign;
    },
    start_stop(){
      if(this.started){
        clearInterval(this.interval);
      }
      else{
        this.interval = setInterval(this.requestLive, 1000);
        this.$emit("reset");
        for (let i=0;i<this.coord.length;i++){
          this.$emit("coord",this.coord[i]);
        }
      }
      this.started=!this.started;
    },
    /**
     * Formates the dates
     */
    formatageDate(dateIso8601){
      let date = new Date(dateIso8601);
      const options = { year: 'numeric', month: '2-digit', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
      return date.toLocaleDateString(undefined, options);
    },  
    /**
     * Fill data collection with a specific type of measuremnt
     * @param {String} type the type of the measurement (wind,temperature,humidity,pressure or luminosity)
     */  
     createDataObj(type){
      let fullname = this.rawIndex[type];
      this.datacollection[type] = {
        type: 'line',
        datasets: [],
      };
      var set = [];
      var set0 = [];
      
      for (var j =0 ; j< this.data.length; j++){
        
        let color = 'rgba('+255*Math.sin(j)+','+255*Math.cos(j)+','+255*(1-Math.sin(j))+',1)';
        set0 = [];
        for (let compt=0; compt<this.data[j].result.measurements[fullname].data.length ;compt++){
          let value = this.data[j].result.measurements[fullname].data[compt][1];
          
          set0.push({x: new Date(this.data[j].result.measurements[fullname].data[compt][0]), 
                     y: value}); 
          
        };
        set.push({label: this.data[j].result.metadata.nom,
		            	data:set0,
			            borderColor:color,
			            backgroundColor:"transparent",});
      } 
      this.datacollection[type].datasets = set;

    },
    /**
     * Fill the datacollection with rain data
     */
    createDataObjRain(){
      this.datacollection["ran"] = {
        type: 'line',
        datasets: [],
      };
      var set = [];
      var set0 = [];
      for (var j =0 ; j< this.data.length; j++){
        if (this.data[j].result.measurements.rain.data.length == 0){
          this.datacollection["ran"].push("Pas de données");this.datacollection["ran"].push("Pas de données");
        }
        let color = 'rgba('+255*Math.sin(j)+','+255*Math.cos(j)+','+255*(1-Math.sin(j))+',1)';
        set0 = [];
        
        for (let compt=1; compt<this.data[j].result.measurements.rain.data.length ;compt++){
          let mem = this.lastDateRain[this.data[j].result.id];
          let date = Date.parse(this.data[j].result.measurements.rain.data[compt]);

          let value = 0;

          if (mem==""){
            this.lastDateRain[this.data[j].result.id] = date;
            set0.push({x: new Date (this.data[j].result.measurements.rain.data[compt]), 
                     y: value});
          }
          else if(mem == date){
            value = this.lastValueRain[this.data[j].result.id]
            
          }
          else{
            value = 2.571*60000/(date-mem);
            this.lastDateRain[this.data[j].result.id] = date;
            this.lastValueRain[this.data[j].result.id] = value;
            set0.push({x: new Date (this.data[j].result.measurements.rain.data[compt]), 
                     y: value});
          }
          
          //console.log("value : ",value);
          
        }
        set.push({label: this.data[j].result.metadata.nom,
		            	data:set0,
			            borderColor:color,
			            backgroundColor:"transparent",});
      }
      this.datacollection["ran"].datasets = set;
      
    },
    /**
     * Empties out the datacollection
     */
    reInit(){
      this.datacollection = {
        "tem": {
          type: 'line',
          datasets: []
        },
        "hum":{
          type: 'line',
          datasets: [],
        },
        "pre":{
          type: 'line',
          datasets: [],
        },
        "win":{
          type: 'line',
          datasets: [],
        },
        "lum":{
          type: 'line',
          datasets: [],
        },
        "ran":{
          type: 'line',
          datasets: [],
        }
      };
      this.isinit = {"10" : false, "07" : false, "11" : false, "24" : false};
      this.data = [];
      this.requestLive();

    },
    /**
     * Returns the data index of a specific station
     * @param {int} id : number of the station
     */
    getIdDataStation(id){
      for (let i =0; i<this.data.length;i++){
        let name_station = "Piensg 0"+id;
        if (this.data[i].result.metadata.nom == name_station){
          return i;
        }
      }
    },
    /**
     * Queries the API
     */
    requestLive(){
        this.updateCapteur();      
        if (this.capteurs.length==0){
          this.error = "Veuillez selectionner un capteur pour actualiser";
        }else {

          if (this.stations.length==0){
            this.error = "Veuillez selectionner une station";
          }
          else{

            let capteursStr = "";          
            this.capteurs.forEach(function(capt){
                capteursStr = capteursStr + capt + ",";
            });
            capteursStr = capteursStr.substring(0, capteursStr.length - 1);

            this.coord = [];
            for (let i = 0;i<this.stations.length;i++){
              let API = "http://piensg0"+this.stations[i]+".ensg.eu/live?capteurs="+capteursStr;

              fetch(API,{credentials: 'omit'})
              .then(resp => resp.json())
              .then(
                
                function(data){
                  if (!(this.isinit[this.stations[i]])){
                    this.data.push(data);
                    this.isinit[this.stations[i]] = true;
                    this.success.push(Object.keys(data).includes("result"));
                  }
                  
                  else {
                    let id = this.getIdDataStation(this.stations[i]);
                    
                    let isCapteurs = {"tem" : this.isTemp, "hum" : this.isHum, "pre" : this.isPres, "win" : this.isWind, "lum" : this.isLum, "ran" : this.isRain};
                    let keys = Object.keys(isCapteurs);
                    
                    for (let i=0; i<keys.length; i++){
                      if (isCapteurs[keys[i]]){
                        let fullname = this.rawIndex[keys[i]];
                        this.data[id].result.measurements[fullname].data.push(data.result.measurements[fullname].data[0])
                      }
                    } 
                  }
                                    
                  
                  this.fillData();
                  if(Object.keys(data).includes("result")){
                    this.coord.push([data.result.metadata.nom,[data.result.coordinate.latitude,data.result.coordinate.longitude]]);
                  }
                  
                }.bind(this)
            )
        } }
        }
      
      }
    }
  };

</script>


<style>

.liveValueArray{
  text-align: left;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  border-width:5px; 
  border-style:inset; 
  border-color:rgb(170,110,110);
  border-radius:5%;
  background-color:rgb(255,255,255);
  width: 100%;
}

.liveArray{
}

.liveLine{
  margin-left: auto;
  margin-right: auto;
}

.liveCell{
  font-size:medium;
  border-width:10px; 
  border-style:solid; 
  border-color:black;
  background-color : rgb(220, 220, 220);
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-color:rgb(75,75,75);
  border-style:groove; 
}

.capteurCell{
  padding-top: 5%;
}

.error_text{
  font-size:medium;
  color: red;
  
}

.form{
  font-size:medium;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

h1{
  border-width:8px;
  border-style:groove; 
  border-color:rgb(150,150,150);
  border-radius:20%;
  background-color : rgb(255, 255, 255);
}

h3{
  border-width:5px;
  border-style:inset; 
  border-color:rgb(0,170,0);
  border-radius:5%;
  background-color:rgb(245,255,245);
}

.dataHeader{
  display: inline-block;
  font-weight:1000;
}


.updateButton{
  margin:15px;
  width : 10%;
  max-height: 60px;
  min-height: 20px;
  max-height: 60px;
  min-width : 20px;
  font-size : 200%;
}

.dataHeader{
  display: inline-block;
  font-weight:1000;
}

.liveChartContainer {
  margin-left: auto;
  margin-right: auto;
  height : 60%;
  width : 100%;
  border-width:5px; 
  border-style:groove; 
  border-color:rgb(170,0,0);
  border-radius: 10%;
  background-color : white;
}

.liveChart{
  width : 100%
}

</style>
